@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 812px;
  position: relative;
  background: #f7f8f9 0% 0% no-repeat padding-box;
  opacity: 1;
  justify-content: flex-end;
}

.heading {
  position: absolute;
  top: 529px;
  left: 20px;
  width: 231px;
  height: 33px;
  text-align: left;
  font-family: "Rubik";
  font-weight: 485;
  font-size: 28px;
  line-height: 17px;
  letter-spacing: 0px;
  color: #1d2226;
  opacity: 1;
}

.text {
  position: absolute;
  top: 572px;
  left: 20px;
  width: 232px;
  height: 48px;
  text-align: left;
  font-family: "Rubik";
  font-weight: 395;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #1d2226;
  color: #1d2226;
  opacity: 0.6;
}

.btn {
  position: absolute;
  height: 46px;
  width: 335px;
  border-radius: 6px;
  left: 20px;
  font-family: "Rubik";
  font-weight: 465;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0px;
  border-width: 0px;
  text-align: center;
  font-style: normal;
}

.primary {
  top: 669px;
  color: white;
  background-color: #6c25ff;
}

.secondary {
  top: 725px;
  background-color: #6c25ff4b;
  color: #1d2226;
}
